<html>
<head>
<title>TODO</title>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<!-- Static navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">TODO</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="${request.contextPath}/tasks">Task</a>
						</li>
						<li>
							<a href="${request.contextPath}/users">User</a>
						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
	</div>
	<!-- /container -->
	<div class="container">
		<form id="input-form" method="POST" action="${request.contextPath}/tasks/submit">
			<input type="hidden" name="id" value="${task.id!''}" />
			<input type="hidden" name="uid" value="${task.uid!''}" />
			<div class="form-group">
				<label for="inputTitle">Title</label>
				<input type="text" class="form-control" name="title" value="${task.title!''}" id="inputTitle" required="required">
			</div>
			<div class="form-group">
				<label for="inputDue">Due</label>
				<input type="text" class="form-control" name="due" value="${task.due!''}" id="inputDue" required="required">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<#if task.id?exists>
			<a id="btn-delete" href="${request.contextPath}/tasks/delete?id=${task.id}" class="btn btn-danger">Delete</a>
			</#if>
			<a href="${request.contextPath}/tasks" class="btn btn-default">Back</a>
		</form>
	</div>
	<script type="text/javascript">
		$(function() {
			$('#input-form').submit(function() {
				return true;
			});
			<#if task.id?exists>
			$('#btn-delete').click(function(){
				return confirm("Are you sure delete [${task.title}]?");
			});
			</#if>
		});
	</script>
</body>
</html>